<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Irregular Form</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <style>
      @import url(https://fonts.googleapis.com/css?family=Comfortaa);
      @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

      body {
        font-family: "Comfortaa", cursive;
        background: #353535;
        color: #fff;
      }
      .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0px 10px;
      }
      .navitems {
        list-style: none;
        padding: 0px 1rem;
      }

      .navbar a {
        color: #d24d57;
      }

      input::-webkit-input-placeholder {
        font-size: 1.23rem;
      }
    </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li class="navitems">
          <a class="navbtn" href="/"> <h3><i class="fas fa-home"></i>Home</h3></a>
        </li>
        <li class="navitems">
          
          <a class="navbtn" href="/adminlogin"> <h3><i class="fas fa-users-cog fa-1x"></i>Admin</h3></a>
        </li>
        
      </ul>
    </nav>

    <div
      class="container mt-5 p-4"
      style="width: 50%; border: 2px #d24d57 solid; border-radius: 15px"
    >
      <h1 class="text-center">Form</h1>
      <form action="#" method="POST">
        <div class="form-group">
          <label for="Name"><h4>Name:</h4></label>
          <input
            type="text"
            class="form-control p-3"
            id="Name"
            placeholder="Enter Name"
            name="Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="Phone No."><h4>Phone No:</h4></label>
          <input
            type="tel"
            class="form-control p-3"
            id="pwd"
            placeholder="Enter Phone No"
            name="Phone"
            required
          />
        </div>

        <div class="dropdown">
          <label for="Visitng To"><h4>Visitng To:</h4></label> <br />
          <select class="form-control" id="rating" name="Visit">
            <option value="A-101">A-101</option>
            <option value="A-102">A-102</option>
            <option value="A-103" >A-103</option>
            <option value="A-201">A-201</option>
            <option value="A-202">A-202</option>
            <option value="A-203">A-203</option>

            <option value="B-101">B-101</option>
            <option value="B-102">B-102</option>
            <option value="B-103">B-103</option>
            <option value="B-201">B-201</option>
            <option value="B-202">B-202</option>
            <option value="B-203">B-203</option>
            
            <option value="C-101">C-101</option>
            <option value="C-102">C-102</option>
            <option value="C-103">C-103</option>
            <option value="C-201">C-201</option>
            <option value="C-202">C-202</option>
            <option value="C-203">C-203</option>
          </select>
        </div>

        <!-- <div class="form-group">
          <label for="Visitng To"><h4>Visitng To:</h4></label>
          <input
            type="text"
            class="form-control p-3"
            id="Visitng To"
            placeholder="Enter Visitng To"
            name="Visit"
            required
          />
        </div> -->

        <div class="form-group">
          <label for="Purpose"><h4>Purpose:</h4></label>
          <input
            type="text"
            class="form-control p-3"
            id="Purpose"
            placeholder="Enter Purpose"
            name="Purpose"
            required
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg text-center">
            Submit
          </button>
        </div>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
